html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, #155799, #159957);
}

/* MAIN BOX */
.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 2rem;
  gap: 1rem;

  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  position: relative;

  /* background: linear-gradient(to left, #3c89d6, #42ffa0); */

  color: black;
  font-size: 22px;

  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* NEON BORDER LAYER */
.main::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  border: 2px solid #0ff;
  color: #0ff;
  box-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;

  opacity: 0;
}

.main:hover {
  color: rgb(0, 255, 85);
  a {
    color: #0ff;
  }
}
/* ACTIVATE ON HOVER */
.main:hover::before {
  opacity: 1;
  animation: borderFlicker 1.2s infinite;
}

/* FLICKER EFFECT */
@keyframes borderFlicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.1;
  }
}
