html,
body {
  font-family: "Arial", sans-serif;
  height: 100%;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
}

.right-container {
  width: 100%;
  height: 100%;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 11%;
  margin-top: 20px;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-items: center;
}

.logo-image {
  width: 80px;
  height: auto;
}

.odin-text {
  color: white;
  font-size: 26px;
  margin-left: 10px;
}

.form-container {
  display: grid;
  background-color: #e5e7eb;
  grid-template-rows: 33% 37% 30%;
  width: 100%;
  height: 100%;
}

.s1 {
  grid-row: 1;
  background-color: #e5e7eb;
  top: 60%;

  p {
    top: 25%;
    font-size: 20px;
    margin: 2rem;
    padding: 2rem;
    margin-right: 5rem;
    padding-right: 5rem;
    font-family: "Arial", sans-serif;
    position: relative;
  }
}

.s2 {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  background-color: white;
  box-shadow: 0px 10px 10px -4px lightgray;
  margin-bottom: 1rem;

  h2 {
    margin: 1rem;
    margin-left: 4rem;
  }
}

.signupform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 4rem;
  margin-right: 20rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label {
      color: darkslategray;
      font-weight: bold;
      font-size: 14px;
    }

    input {
      padding: 0.5rem;
      margin-bottom: 1rem;
      font-size: 14px;
      width: 70%;
      height: 15%;
      border: 1px solid lightgray;
      border-radius: 3px;
    }
  }
}

.s3 {
  grid-row: 3;
  background-color: #e5e7eb;
}

.create-account-btn {
  background-color: rgb(68, 99, 37);
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 20%;
  height: 17%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 4rem;
}

.login {
  background-color: transparent;
  font-weight: bold;
  color: black;
  margin-left: 4rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 25%;
  height: 17%;
  border: none;
  border-radius: 5px;
  font-size: 14px;

  a {
    text-decoration: none;
    color: rgb(68, 99, 37);
  }
}
