/* styles.css */

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bakery-name {
  font-family: "Georgia", serif;
  font-size: 3rem;
  padding: 2rem;
}

header {
  margin: 2rem;
  padding: auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  button {
    height: 50%;
  }
}

#content {
  text-align: center;
  font-family: "Georgia", serif;
  align-items: center;
  justify-items: center;
}

.welcoming-section {
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-items: center;
}

.welcoming-section-right {
  width: 100%; /* fill available space */
  max-width: 40rem; /* optional max width */
  display: flex;
  height: auto; /* container height adjusts to content */
  align-items: start; /* stick to top of column */
  padding: 2rem;
}

.welcoming-section-right img {
  width: 100%; /* fill the container width */
  height: auto; /* maintain aspect ratio */
  max-height: 40rem; /* optional height limit */
  max-width: 40rem;
  border-radius: 1rem;
}

.welcoming-section-left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcoming-text-1 {
  font-size: 4rem;
}

.welcoming-box {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: yellow;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.specification-card {
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.menu-section {
  background-color: gray;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
}

.menu-header {
  background-color: pink;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.menu-items-grid {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: center;

  width: 90%;
  height: auto;
}

.menu-item-card {
  align-content: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.our-story-section {
  background-color: green;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  justify-items: center;
}

.our-story-image {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.our-story-text-section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
}

.our-story-text-title {
  font-size: 2.5rem;
}

.our-story-text-content {
  font-size: 1.5rem;
}

.reviews-section {
  background-color: yellow;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.reviews-gallary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 20%;

  img {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
  }
}

.contact-section {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin-top: 3rem;
  background-color: pink;
  gap: 2rem;
}

.contact-section-left {
  background-color: green;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
}

.contact-header1 {
  align-content: left;
}

.contact-cards {
  background-color: red;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-items: left;
}

.contact-element {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;

  svg {
    width: 3rem;
    height: 3rem;
    fill: white;
  }
}

.contact-info-text {
  width: 20rem;
}

.map {
  grid-column: 2;
  align-content: center;
  justify-items: center;
}

.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80% 5% 15%;
  background-color: yellow;
  width: 100%;
  justify-items: center;
  align-content: center;

  h1 {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 26px;
  }
}

.store-description {
  grid-column: 1;
  grid-row: 1;
  width: 60%;
  justify-items: left;
  align-content: left;

  p {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
  }
}

.quick-links {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

.misc {
  grid-column: 3;
  grid-row: 1;
}

.solid-line {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  border: none;
  border-top: 2px solid red;
  width: 100%;
}

.policy-section {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.socials {
  margin-bottom: 2rem;
  svg {
    width: 3rem;
    height: 3rem;
  }
}

.payment-options-logos {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  svg {
    width: 3rem;
    height: 3rem;
  }
}
